@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0px;
    padding: 0px;
}


  button {
    color: #fff;
    padding: 15px 25px;
    border-radius: 100px;
    background-color: #4C43CD;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
  }



  #number{
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px;
    width: 250px;
    height: 30px;
  }

  p {
    color: blue;
  }

  h2{
    text-shadow: #FC0 1px 0 10px;
  }

  h3{
    text-shadow: 2px 2px #ffae00;
  }

  body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }


body {
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top: 50vh;

}

.context h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area {
    background: #030304;
    background: -webkit-linear-gradient(to left, #000000, #080d74);
    width: 100%;
    height: 100vh;


}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

#section {
    justify-content: center;
    color: white;
    font-size: 40px;
}

h1 {
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
}

h2 {
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 30px;
}

text {
    align-self: center;
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

p {
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
}

#section {
    width: fit-content;
    height: fit-content;
}

.input {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 30px;
    z-index: 1000;
}

.buttons {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 90px;
}

.head{
    display: flex;
    position: relative;
    justify-content: center;
}

.button-1 {

    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    padding: 4px;
}

.button-1:active,
.button-1:hover {
    outline: 0;
}

.button-1 span {
    width: 100%;
    background-color: rgb(5, 6, 45);
    padding: 10px;
    border-radius: 6px;
    transition: 300ms;
}

.button-1:hover span {
    background: none;
}

@media (min-width: 8px) {
    .button-1 {
        font-size: 24px;
    }
}


.string {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
}

.output {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: fixed;
}